/* TabelaBanco.css */
.tabela {
    width: 100%;
    background-color: #3d3e5c;
    border-radius: 8px;
    padding: 12px;
}

.cabecalho {
    display: flex;
    font-weight: bold;
    background-color: #90607a;
    color: #e6c5b2;
    padding: 10px;
}

.linha {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #5f7d8e;
}

.coluna {
    flex: 1;
    padding: 6px;
    color: #e6c5b2;
}

input {
    width: 100%;
    background: none;
    border: none;
    color: #e6c5b2;
    font-size: 1rem;
    text-align: center;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #83cebd;
}
