@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.app-container {
  transition: background 0.3s ease-in-out;
}

.fundo-escuro {
  background-color: rgba(0, 0, 0, 0.6); /* Deixa o fundo escurecido ao exibir o pop-up */
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #e6c5b2;
}
